.menu-display {
  display: flex;
  flex-direction: row;             /* уменьшенный промежуток */
  background-color: rgba(0, 0, 0, 0.6); /* прозрачный чёрный */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-around; /* или space-between */
  align-items: center;
  box-sizing: border-box;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  flex: 1;                 /* каждый пункт займёт доступное место */
}

/* Иконка */
.menu-page-img {
  width: 18px;
  height: 18px;
  border-radius: 8px;
  margin-bottom: 2px;
  background-size: cover;
  background-position: center;
}

/* Название */
.menu-page-name {
  font-weight: bold;
  font-size: 12px;
  color: #99a1af;
  text-align: center;
}

/* Активное состояние названия */
.menu-page-name.active {
  color: #FFD700;
  
}

/* Активное состояние всего пункта (рамка) */


