.total-balance-section {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 5px 20px; /* уменьшен нижний отступ */
}

.balance-text {
    color: #FFD700;
    font-size: 14px;
    margin-bottom: 2px; /* было 5px, уменьшили отступ */
    opacity: 1 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    order: 1;
    display: block !important;
    visibility: visible !important;
    position: relative;
    z-index: 2;
}

.balance {
    font-size: 30px;
    font-weight: 700;
    color: white;
    line-height: 1.2; /* можно добавить для компактности */
}

/* Секция безопасности */
.security-section {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #181400;
    padding: 10px 15px;
    border-radius: 12px;
    margin: 10px 20px 25px 20px; /* увеличен нижний отступ с 15px до 25px */
}

.left-security-section {
    display: flex;
    align-items: center;
}

.security-icon {
    color: #FFD700;
    font-size: 24px;
}

.middle-security-section {
    margin-left: 10px;
    flex-direction: column;
    color: white;
}

.middle-security-section div:first-child {
    font-weight: 600;
    font-size: 14px;
}

.middle-security-section div:last-child {
    font-size: 12px;
    color: #99a1af;
}

.right-security-section {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #FFD700;
    font-size: 14px;
    cursor: pointer;
}

